<% @representatives_sorted.each do |representative| %>
  <span class="name"><%= representative["name"] %></span><br>
  <span class="role"><%= representative["role"] %></span><br>
  <span class="party"><%= representative["party"] %></span><br>
  <span class="district"><%= representative["district"] %></span><br>
<% end %>
